{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{% block title %}Blog {% endblock %}</title>
</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="container">
            <ul class="menu">
                <a href="{% url 'index' %}"><h1 class="nav-title">My Market</h1></a>
                <li>
                    <a href="{% url 'index' %}" class="nav-link">Products</a>
                </li>
                <li>
                    <a href="{% url 'category_index' %}" class="nav-link">Categories</a>
                </li>
                <li>
                    <a href="{% url 'add_product' %}" class="nav-link">Add Product</a>
                </li>
                <li>
                    <a href="{% url 'add_category' %}" class="nav-link">Add Category</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% block content %} {% endblock %}

</body>
</html>
