{% extends 'base.html' %}
{% block title %}
Product
{% endblock %}

{% block content %}

<main class="main">
    <div class="container">
    <div class="card">
        <div class="card-photo">

        </div>
        <div class="card-desc">
            <img src="{{ product.photo }}"/>
        <h1>{{ product.name }}</h1>
        <p>{{ product.category }}</p>
        <h2>Price: {{ product.price }}</h2>
        <h3 class="par">
            <br> <b class="par-title"> {{ product.description }}</b>
        </h3>
        <p>added: {{ product.created_at }}</p>
            <a href="{% url 'delete_product' product.pk %}">Delete</a>
            <a href="{% url 'edit_product' product.pk  %}">Edit</a>
        </div>
    </div>

{% endblock %}
